NUXT_PEACH_BASE_URL='https://api.peachbitcoin.com'
NUXT_PEACH_BITCOIN_MNEMONIC='your twelve word bip39 mnemonic phrase here'
NUXT_PEACH_PGP_PRIVATE_KEY='-----BEGIN PGP PRIVATE KEY BLOCK-----...'
NUXT_PEACH_PGP_PUBLIC_KEY='-----BEGIN PGP PUBLIC KEY BLOCK-----...'
NUXT_PEACH_PGP_PASSPHRASE='your pgp passphrase'
NUXT_PEACH_REFERRAL_CODE=''
NUXT_PEACH_FEE_RATE='hourFee'
NUXT_PEACH_MAX_PREMIUM='0'
